<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../resources/css/signup.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,300&display=swap" rel="stylesheet" />
    <title>Document</title>
</head>
<body>
    <form >
        <div class="log-image"><img src="../../resources/img/Logo-green.png" class="hr"></div>
        <input type="text" name="" placeholder="enter first name">
        <input type="text" name="" placeholder="enter last name">
        <input type="password" name="" placeholder="enter your password">
        <input type="password" name="" placeholder="confirm your paswword">
        <button type="submit">sign up</button>
    </form>
</body>
</html>