<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../resources/css/profile.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,300&display=swap" rel="stylesheet" />
    <title>Document</title>
</head>
<body>
    <!-- <div class="prof">
        <img src="front-view-tasty-meat-burger-with-cheese-salad-dark-background.jpg" >
    </div> -->
    <form >
        <div class="log-image"><img src="../../resources/img/IMG-20210911-WA0002.jpg" class="hr"></div>
        <input type="text" name="" placeholder="enter first name">
        <input type="text" name="" placeholder="enter last name">
        <button type="submit">next</button>
    </form>
</body>
</html>