<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sign IN Page</title>
    <link rel="stylesheet" href="../../resources/css/signin.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,300&display=swap" rel="stylesheet" />
</head>
<body>
    <div class="main">
        <nav class="nave">
         
            <div class="logo"><img src="../../resources/img/Logo-green.png" ></div>
          
          </nav>
        <form class="form">
            <div class="log-image"><img src="../../resources/img/Logo-green.png"></div>
            <input type="email" name="email" placeholder="Enter Your Email">
            <input type="password" name="password" placeholder="Enter Your Password">
           <div class="div">
            <button class="btnn"><a href="#">Log IN </a></button>
           </div>

            <p class="link">Dont Have Account<br>
            <a href="#">Sign UP</a> Here</a></p>
            <p class="liw">log in with</p>

            <div class="icons">
                <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
                <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
                <a href="#"><ion-icon name="logo-twitter"></ion-icon></a>
                <a href="#"><ion-icon name="logo-google"></ion-icon></a>
            </div>
        </form>
        
    </div>
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
</body>
</html>