<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../../vendors/css/normalize.css" />
        <link rel="stylesheet" href="../../vendors/css/grid.css" />
        <link rel="stylesheet" href="../../vendors/css/ionicons.min.css" />
        <link rel="stylesheet" href="../../resources/css/menu.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,300&display=swap" rel="stylesheet" />
        <title>Menu</title>
    </head>
    <body>
        <header>
            <nav class="row">
                <img src="../../resources/img/Logo-white.png" alt="Fortunato Logo" class="logo" />
                <ul class="main-nav">
                    <li>
                        <i class="ion-ios-cart icon-header"></i>
                        <a href="../cart/index.html">Cart</a>
                    </li>
                    <li>
                        <i class="ion-person icon-header"></i>
                        <a href="#">Profile</a>
                    </li>
                    <li>
                        <i class="ion-android-exit icon-header"></i>
                        <a href="#">Logout</a>
                    </li>
                </ul>
            </nav>
        </header>
        <section class="section-menu">
            <div class="menu-heading">Menu</div>
            <div class="row clearfix">
                <div class="col span-1-of-4 card">
                    <div class="card-image">
                        <img src="../../resources/img/1.jpg" alt="item-image" class="item-image" />
                    </div>
                    <p class="item-name">Cheese Burger</p>
                    <p class="item-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet iure ipsam ratione</p>
                    <p class="item-price">23 LE</p>
                    <button class="card-btn">Add To Cart</button>
                </div>
                <div class="col span-1-of-4 card">
                    <div class="card-image">
                        <img src="../../resources/img/2.jpg" alt="" class="item-image" />
                    </div>
                    <p class="item-name">Cheese Burger</p>
                    <p class="item-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet iure ipsam ratione</p>
                    <p class="item-price">23 LE</p>
                    <button class="card-btn">Add To Cart</button>
                </div>

                <div class="col span-1-of-4 card">
                    <div class="card-image">
                        <img src="../../resources/img/3.jpg" alt="" class="item-image" />
                    </div>
                    <p class="item-name">Cheese Burger</p>
                    <p class="item-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet iure ipsam ratione</p>
                    <p class="item-price">23 LE</p>
                    <button class="card-btn">Add To Cart</button>
                </div>
                <div class="col span-1-of-4 card">
                    <div class="card-image">
                        <img src="../../resources/img/4.jpg" alt="" class="item-image" />
                    </div>
                    <p class="item-name">Cheese Burger</p>
                    <p class="item-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet iure ipsam</p>
                    <p class="item-price">23 LE</p>
                    <button class="card-btn">Add To Cart</button>
                </div>
            </div>

            <div class="row clearfix">
                <div class="col span-1-of-4 card">
                    <div class="card-image">
                        <img src="../../resources/img/1.jpg" alt="item-image" class="item-image" />
                    </div>
                    <p class="item-name">Cheese Burger</p>
                    <p class="item-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet iure ipsam ratione</p>
                    <p class="item-price">23 LE</p>
                    <button class="card-btn">Add To Cart</button>
                </div>
                <div class="col span-1-of-4 card">
                    <div class="card-image">
                        <img src="../../resources/img/2.jpg" alt="" class="item-image" />
                    </div>
                    <p class="item-name">Cheese Burger</p>
                    <p class="item-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet iure ipsam ratione</p>
                    <p class="item-price">23 LE</p>
                    <button class="card-btn">Add To Cart</button>
                </div>

                <div class="col span-1-of-4 card">
                    <div class="card-image">
                        <img src="../../resources/img/3.jpg" alt="" class="item-image" />
                    </div>
                    <p class="item-name">Cheese Burger</p>
                    <p class="item-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet iure ipsam ratione</p>
                    <p class="item-price">23 LE</p>
                    <button class="card-btn">Add To Cart</button>
                </div>
                <div class="col span-1-of-4 card">
                    <div class="card-image">
                        <img src="../../resources/img/4.jpg" alt="" class="item-image" />
                    </div>
                    <p class="item-name">Cheese Burger</p>
                    <p class="item-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet iure ipsam</p>
                    <p class="item-price">23 LE</p>
                    <button class="card-btn">Add To Cart</button>
                </div>
            </div>
        </section>
    </body>
</html>
