<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../../vendors/css/normalize.css" />
        <link rel="stylesheet" href="../../vendors/css/grid.css" />
        <link rel="stylesheet" href="../../vendors/css/ionicons.min.css" />
        <link rel="stylesheet" href="../../resources/css/menu.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,300&display=swap" rel="stylesheet" />
        <link rel="apple-touch-icon" sizes="180x180" href="/resources/favicons/apple-touch-icon.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="/resources/favicons/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="/resources/favicons/favicon-16x16.png" />
        <link rel="manifest" href="/resources/favicons/site.webmanifest" />
        <link rel="mask-icon" href="/resources/favicons/safari-pinned-tab.svg" color="#5bbad5" />
        <link rel="shortcut icon" href="/resources/favicons/favicon.ico" />
        <meta name="msapplication-TileColor" content="#2b5797" />
        <meta name="msapplication-config" content="/resources/favicons/browserconfig.xml" />
        <meta name="theme-color" content="#ffffff" />
        <title>Menu</title>
    </head>
    <body>
        <header>
            <nav class="row">
                <img src="../../resources/img/Logo-white.png" alt="Fortunato Logo" class="logo" />
                <ul class="main-nav">
                    <li>
                        <i class="ion-ios-cart icon-header"></i>
                        <a href="../cart/index.html">Cart</a>
                    </li>
                    <li>
                        <i class="ion-person icon-header"></i>
                        <a href="../profile/index.html">Profile</a>
                    </li>
                    <li>
                        <i class="ion-android-exit icon-header"></i>
                        <a href="#">Logout</a>
                    </li>
                </ul>
            </nav>
        </header>
        <section class="section-menu">
            <div class="menu-heading">Menu</div>
            <div class="row clearfix"></div>
            <div class="row clearfix"></div>
            <div class="row clearfix"></div>
            <div class="row clearfix"></div>
        </section>
        <script src="../../resources/js/menu.js"></script>
    </body>
</html>
