<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../../vendors/css/normalize.css" />
        <link rel="stylesheet" href="../../vendors/css/grid.css" />
        <link rel="stylesheet" href="../../vendors/css/ionicons.min.css" />
        <link rel="stylesheet" href="../../resources/css/home.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,300&display=swap" rel="stylesheet" />
        <title>Fortunato</title>
    </head>
    <body>
        <header>
            <nav class="row">
                <img src="../../resources/img/Logo-white.png" alt="Fortunato Logo" class="logo" />
                <ul class="main-nav">
                    <li><a href="#">How it works</a></li>
                    <li><a href="#">Our Cities</a></li>
                    <li><a href="#">Sign in</a></li>
                </ul>
            </nav>
            <div class="hero-text-box">
                <h1>Fortunato Restaurant welcomes you.<br />wish you a pleasant experience.</h1>
                <a class="btn btn-full" href="#">Order now</a>
                <a class="btn btn-ghost" href="../menu/index.html">Show Menu</a>
            </div>
        </header>

        <section class="section-features">
            <div class="row">
                <h2>Get your food fast & delicious</h2>
                <p class="long-copy">
                    Hello, We're Fortunato, your new premium food delivery service. We know you’re always busy. No time for cooking. So let
                    us take care of that, we’re really good at it, we promise!
                </p>
            </div>
            <div class="row">
                <div class="col span-1-of-4 box">
                    <i class="ion-ios-infinite-outline icon-big"></i>
                    <h3>Up to 365 days/year</h3>
                    <p>
                        Never cook again! We really mean that. Our menu items satisfies all tastes. We are from you and we know your taste.
                    </p>
                </div>

                <div class="col span-1-of-4 box">
                    <i class="ion-ios-stopwatch-outline icon-big"></i>
                    <h3>READY IN 20 MINUTES</h3>
                    <p>
                        You're only twenty minutes away from your delicious and super meals delivered right to your home. We work with the
                        best chefs in each town to ensure that you're 100% happy.
                    </p>
                </div>

                <div class="col span-1-of-4 box">
                    <i class="ion-ios-nutrition-outline icon-big"></i>
                    <h3>100% Fresh</h3>
                    <p>
                        All our ingredients are fresh, organic and local. Animals are raised without added hormones or antibiotics. Good for
                        your health, the environment, and it also tastes better!
                    </p>
                </div>

                <div class="col span-1-of-4 box">
                    <i class="ion-ios-cart-outline icon-big"></i>
                    <h3>ORDER ANYTHING</h3>
                    <p>
                        We don't limit your creativity, which means you can order whatever you feel like. You can also choose from our menu
                        containing over 100 delicious meals. It's up to you!
                    </p>
                </div>
            </div>
        </section>
        <section class="section-meals">
            <ul class="meals-showcase clearfix">
                <li>
                    <figure class="meal-photo">
                        <img src="../../resources/img/1.jpg" alt="meal1" />
                    </figure>
                </li>
                <li>
                    <figure class="meal-photo">
                        <img src="../../resources/img/2.jpg" alt="meal2" />
                    </figure>
                </li>
                <li>
                    <figure class="meal-photo">
                        <img src="../../resources/img/3.jpg" alt="meal3" />
                    </figure>
                </li>
                <li>
                    <figure class="meal-photo">
                        <img src="../../resources/img/4.jpg" alt="meal4" />
                    </figure>
                </li>
            </ul>
            <ul class="meals-showcase clearfix">
                <li>
                    <figure class="meal-photo">
                        <img src="../../resources/img/5.jpg" alt="meal5" />
                    </figure>
                </li>
                <li>
                    <figure class="meal-photo">
                        <img src="../../resources/img/6.jpg" alt="meal6" />
                    </figure>
                </li>
                <li>
                    <figure class="meal-photo">
                        <img src="../../resources/img/7.jpg" alt="meal7" />
                    </figure>
                </li>
                <li>
                    <figure class="meal-photo">
                        <img src="../../resources/img/8.jpg" alt="meal8" />
                    </figure>
                </li>
            </ul>
        </section>
        <section class="section-steps">
            <div class="row">
                <h2>How it works &mdash; Simple as 1, 2, 3</h2>
            </div>
            <div class="row">
                <div class="col span-1-of-2 steps-box">
                    <img src="../../resources/img/pc.png" alt="Fortunato on PC" class="app-screen" />
                </div>
                <div class="col span-1-of-2 steps-box">
                    <div class="works-step">
                        <div>1</div>
                        <p>Click Order Now</p>
                    </div>
                    <div class="works-step">
                        <div>2</div>
                        <p>Choose food from the menu</p>
                    </div>
                    <div class="works-step">
                        <div>3</div>
                        <p>Go to the cart and place the order</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-cities">
            <div class="row">
                <h2>We're currently in these areas</h2>
            </div>
            <div class="row">
                <div class="col span-1-of-4 box">
                    <img src="../../resources/img/maadi.jpg" alt="maadi" />
                    <h3>Maadi</h3>
                    <div class="city-features">
                        <i class="ion-ios-person icon-small"></i>
                        1600+ happy eaters
                    </div>
                    <div class="city-features">
                        <i class="ion-ios-star icon-small"></i>
                        10+ top chefs
                    </div>
                    <div class="city-features">
                        <i class="ion-social-twitter icon-small"></i>
                        <a href="#">@fortunato_m</a>
                    </div>
                </div>

                <div class="col span-1-of-4 box">
                    <img src="../../resources/img/sayda-Zainab.jpg" alt="Sayda-Zainab" />
                    <h3>Sayda Zainab</h3>
                    <div class="city-features">
                        <i class="ion-ios-person icon-small"></i>
                        2000+ happy eaters
                    </div>
                    <div class="city-features">
                        <i class="ion-ios-star icon-small"></i>
                        15+ top chefs
                    </div>
                    <div class="city-features">
                        <i class="ion-social-twitter icon-small"></i>
                        <a href="#">@fortunato_s</a>
                    </div>
                </div>

                <div class="col span-1-of-4 box">
                    <img src="../../resources/img/tahrir.jpeg" alt="Tahrir" />
                    <h3>Tahrir</h3>
                    <div class="city-features">
                        <i class="ion-ios-person icon-small"></i>
                        2300+ happy eaters
                    </div>
                    <div class="city-features">
                        <i class="ion-ios-star icon-small"></i>
                        25+ top chefs
                    </div>
                    <div class="city-features">
                        <i class="ion-social-twitter icon-small"></i>
                        <a href="#">@fortunato_t</a>
                    </div>
                </div>

                <div class="col span-1-of-4 box">
                    <img src="../../resources/img/dokki.jpg" alt="Dokki" />
                    <h3>DoKki</h3>
                    <div class="city-features">
                        <i class="ion-ios-person icon-small"></i>
                        1400+ happy eaters
                    </div>
                    <div class="city-features">
                        <i class="ion-ios-star icon-small"></i>
                        10+ top chefs
                    </div>
                    <div class="city-features">
                        <i class="ion-social-twitter icon-small"></i>
                        <a href="#">@fortunato_d</a>
                    </div>
                </div>
            </div>
        </section>

        <section class="section-testimonials">
            <div class="row">
                <h2>Our customers can't live without us</h2>
            </div>
            <div class="row">
                <div class="col span-1-of-3">
                    <blockquote>
                        Fourtnato is just awesome! I just launched a startup which leaves me with no time for cooking, so Fourtnato is a
                        life-saver. Now that I got used to it, I couldn't live without my daily meals!
                        <cite><img src="../../resources/img/customer-1.jpg" alt="customer-1" />Ahmed Mohamed</cite>
                    </blockquote>
                </div>

                <div class="col span-1-of-3">
                    <blockquote>
                        Inexpensive, healthy and great-tasting meals, delivered right to my home. We have lots of food delivery here in
                        Dokki, but no one comes even close to Fortunato. Me and my family are so in love!
                        <cite><img src="../../resources/img/customer-2.jpg" alt="customer-2" />Ola Elsayed</cite>
                    </blockquote>
                </div>

                <div class="col span-1-of-3">
                    <blockquote>
                        I was looking for a quick and easy food delivery service in Maadi. I tried a lot of them and ended up with
                        Fortunato. Best food delivery service in the Bay Area. Keep up the great work!
                        <cite><img src="../../resources/img/customer-3.jpg" alt="customer-3" />Mohamed Hossam</cite>
                    </blockquote>
                </div>
            </div>
        </section>
        <footer>
            <div class="row">
                <div class="col span-1-of-3 box">
                    <p class="footer_header">About US</p>
                    <p class="footer_Description">
                        Fortunato are a chain of restaurants that was established three years ago and we have achieved success with you. We are
                        glad that we are part of you and your trust in us pushes us forward.
                    </p>
                </div>
                <div class="col span-1-of-3 box">
                    <p class="footer_header">Social</p>
                    <ul class="footer_ul">
                        <li>
                            <i class="ion-social-facebook icon-small"></i>
                            <a href="#">/fortunato</a>
                        </li>
                        <li>
                            <i class="ion-social-twitter icon-small"></i>
                            <a href="#">@fortnato</a>
                        </li>
                        <li>
                            <i class="ion-social-instagram icon-small"></i>
                            <a href="#"> /fortunato</a>
                        </li>
                    </ul>
                </div>
                <div class="col span-1-of-3 box">
                    <p class="footer_header">Contact</p>
                    <ul class="footer_ul">
                        <li>
                            <i class="ion-ios-home icon-small"></i>
                            <p>44 Elmessaha Street Dokki, Giza</p>
                        </li>
                        <li>
                            <i class="ion-email icon-small"></i>
                            <p>fortnato@restaurant.com</p>
                        </li>
                        <li>
                            <i class="ion-ios-telephone icon-small"></i>
                            <p>(02) 25555555</p>
                        </li>
                        <li>
                            <i class="ion-iphone icon-small"></i>     
                            <p>01111111111</p>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
    </body>
</html>
