<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../../vendors/css/normalize.css" />
        <link rel="stylesheet" href="../../vendors/css/grid.css" />
        <link rel="stylesheet" href="../../vendors/css/ionicons.min.css" />
        <link rel="stylesheet" href="../../resources/css/cart.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,300&display=swap" rel="stylesheet" />
        <title>Cart</title>
    </head>
    <body>
        <header>
            <nav class="row">
                <img src="../../resources/img/Logo-white.png" alt="Fortunato Logo" class="logo" />
                <ul class="main-nav">
                    <li>
                        <i class="ion-android-apps icon-header"></i>
                        <a href="../menu/index.html">Menu</a>
                    </li>
                    <li>
                        <i class="ion-person icon-header"></i>
                        <a href="#">Profile</a>
                    </li>
                    <li>
                        <i class="ion-android-exit icon-header"></i>
                        <a href="#">Logout</a>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
        <div class="shopping-cart">
            <div class="title">Food Cart</div>

            <div class="item">
                <div class="buttons">
                    <i class="ion-close-round delete-btn"></i>
                </div>

                <div class="image">
                    <img src="../../resources/img/1.jpg" alt="item-image" />
                </div>

                <div class="description">
                    <p>Pizza Super Suprime</p>
                </div>

                <div class="quantity">
                    <button class="plus-btn" type="button" name="button">
                        <i class="ion-plus-round"></i>
                    </button>
                    <input type="number" name="name" value="1"  min="1" />
                    <button class="minus-btn" type="button" name="button">
                        <i class="ion-minus-round"></i>
                    </button>
                </div>

                <div class="total-price">$549</div>
            </div>
            <div class="item">
                <div class="buttons">
                    <i class="ion-close-round delete-btn"></i>
                </div>

                <div class="image">
                    <img src="../../resources/img/1.jpg" alt="item-image" />
                </div>

                <div class="description">
                    <p>Pizza Super Suprime</p>
                </div>

                <div class="quantity">
                    <button class="plus-btn" type="button" name="button">
                        <i class="ion-plus-round"></i>
                    </button>
                    <input type="number" name="name" value="1"  min="1" />
                    <button class="minus-btn" type="button" name="button">
                        <i class="ion-minus-round"></i>
                    </button>
                </div>

                <div class="total-price">$549</div>
            </div>
            <div class="row">
                <button class="order-button">Place Order</button>
            </div>
            
        </div>
    </main>
    </body>
</html>
